<h1><%= @location %></h1>
<h3>Population: <%= @location_data.find_population %> people</h3>
<h3>Median Age: <%= @location_data.find_median_age %> years old</h3>
<h3>Average Household Size: <%= @location_data.find_avg_household_size %> people</h3>
